.grid-container {
  width: 500px;
  height: 300px;
  background: aqua;
  display: grid;
  grid-template-areas:
    "viewer viewer form"
    "viewer viewer form"
    "viewer viewer tree";
}
.grid-form {
  grid-area: form;
}
.grid-tree {
  grid-area: tree;
}
.grid-viewer {
  grid-area: viewer;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}
