<div class="grid-container">
  <div [class]="gridViewer">
    <app-grid-viewer></app-grid-viewer>
  </div>
  <div [class]="gridTree">
    <app-grid-tree></app-grid-tree>
  </div>
  <div [class]="gridForm">
    <app-grid-form></app-grid-form>
  </div>
</div>
